#update-button1 {
  margin-left: 10px;
  border-radius: 15px;
  background-color: aqua;
}

#update-button1:hover {
  border: 2px solid black;
}

#index-button {
  border-radius: 15px;
  background-color: aqua;
}

#index-button:hover {
  border: 2px solid black;
}
